* {
    margin: 4px;
    padding: 3px;
}
body {
    width: 1000px;
    height: 950px;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #67037a;
  }
  .nav {
    display: flex;
    min-height: 100px;
    width: 1000px;
    justify-content: space-between;
    background: #080ce9;
    align-items: center;
    justify-content: center;
    padding: 1%;
  }
  .box {
    display: flex;
    width: 200px;
    height: 100px;
    background: #cc0c0c;
    border: 1px solid #b9d7a1;
    align-items: center;
    justify-content: center;
  }
  .header {
    display: flex;
    min-height: 300px;
    width: 1000px;
    justify-content: space-between;
    background: #e6d1ca;
    align-items: center;
    justify-content: center;
    padding: 10px;

  }
  .banner {
    display: flex;
    width: 800px;
    height: 300px;
    background-color: #82ec08;
    border: 1px solid #e91919;
    align-items: center;
    justify-content: center;

  }
  .contenedor {
display: flex;
flex-direction: column;
  }
  .logo {
    display: flex;
    width: 200px;
    height: 92px;
    background-color: #fff;
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;

  }
  .login {
    display: flex;
    width: 200px;
    height: 92px;
    background-color: #fff;
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
  }
  .form{
    display: flex;
    width: 200px;
    height: 92px;
    background-color: #fff;
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
  }
  .main {
    display: flex;
    height: 500px;
    width: 1000px;
    justify-content: space-between;
    background: #06f506;
    align-items: center;
    justify-content: center;
    padding: 1%;
  }
  .aside {
    display: flex;
    width: 250px;
    height: 450px;
    background-color: #fff;
    border: 1px solid #d4ff12;
    align-items: center;
    justify-content: center;
  }
  .article {
    display: flex;
    width: 600px;
    height: 450px;
    background-color: #fff;
    border: 1px solid #d4ff12;
    align-items: center;
    justify-content: center;

  }
  .asidederecha {
    display: flex;
    width: 280px;
    height: 450px;
    background-color: #fff;
    border: 1px solid #d4ff12;
    align-items: center;
    justify-content: center;
  }
  .footer {
    display: flex;
    width: 1000px;
    height: 50px;
    float: left;
    background-color: #f7c900;
    align-items: center;
    justify-content: center;
    padding: 1%;
  }
@media (max-width:700px){
    .nav{
        flex-direction: column;
    }
    .header{
        flex-direction: column;
    }
    .main{
        flex-direction: column;
    }
    .contenedor{
        flex-direction: column;
    }
}